.vscode
main.c
rect_with_units.svg
rect.svg
src/libXmlExample.c
src/StructListDemo.c
a2pre
temp
node_modules
libsvgparser.so
Emoji_thumb.svg
Emoji_poo.svg
Emoji_shades.svg
Emoji_smiling.svg
Emoji_grinning.svg
Emoji_party.svg
Emoji_poo_A2.svg
rects.svg
quad01.svg
