html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
.fileLogHead thead tr th{
    padding: 8px 15px;
    background: white;
    border: 1px solid black;
    position: sticky;
    top: 0;
}
#fileLogDiv{
    max-height: 600px;
    overflow: auto;
    table-layout: fixed;
}
table{
    max-height: 600px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
tbody{
    overflow: auto;
}
th{
    border: 1px solid black;
    text-align: center;
}
td{
    height: 250px;
    width: 250px;
    padding: 10px;
    overflow: auto;
    text-align: center;
}
.viewMeta{
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
}
#svgViewDiv{
    align-self: center;
    text-align: center;
}
#svgViewTable{
    width: 100%;
}
#componentTable{
    width: 100%;
}
.componentDisplay{
    border: 1px solid black;
    height: 100%;
    width: 30%;
}
.componentDisplay input{
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}
.otherAttributes{
    border: 1px solid black;
    height: auto;
    width: auto;
    
}
#showEditOA{
    width: 100%;
}
.inputTable{
    width: 100%;
}
.otherAttributes-Show{
    margin-right: 8%;
}
#titleDesc{
    text-align: left;
}
.bigTextField{
    text-align: left;
    width: 100%;
    height: 100px;
}
.smallTextField{
    text-align: left;
    width: 50%;
    height: 30px;
}
#svgRow{
    width: 100%;
    overflow: auto;
}
#descEdit{
    margin-right: 2%;
}
#addShapeDiv{
    padding-bottom: 10%;
}
#addShapeTable{
    border: none;
    font-size: small;
}
.shapeTable{
    border: none;
    width: 100%;
}
.svgFileImg{
    width: 200px;
    height: auto;
}
#svgImageCell img{
    width: 800px;
    height: auto;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}